
.container{
max-width: 600px;
padding: 0px 15px;
margin:100px  auto 0;
width: 90%;
}
.correct{
    background-color: lightgreen;
}
.incorrect{
    background-color: red;
}
#question__container{
    display:flex;
    flex-direction: column;
    gap:4px;
}
.btn{
    width:auto;
    padding: 8px;
    border-radius: 9px;;
}
.btn:hover{
    background-color: black;
    color: white;
}
